@charset "utf-8"

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap')

// My variables
$section-padding-y: 1.8rem

// Bulma variables
$section-padding: $section-padding-y 1.5rem
$section-padding-desktop: $section-padding-y 3rem
$family-sans-serif: "Nunito Sans", sans-serif
$navbar-breakpoint: 769px

@import "../node_modules/bulma/bulma.sass"

#about
  padding-top: calc($navbar-height + $section-padding-y * 1.5)

#experience > div,
#education > div
  +block(2.4rem)

#skills
  +mobile
    padding-top: $section-padding-y

#languages
  padding-top: $section-padding-y
  +mobile
    padding-top: $section-padding-y * 1.7

.project-summary
  height: 7rem

  +mobile
    height: fit-content

#about > div > div:nth-child(1) > div > a.button.mr-4.is-outlined.is-link > i
  +mobile
    margin-left: 0
    margin-right: 0

.profile-photo
  +mobile
    height: 17rem
    width: 17rem

.navbar-item.dropdown
  +ltr-property("margin", auto, false)